<div class="boom-box">
  <div class="handle-outer"></div>
  <div class="handle-inner"></div>

  <div class="button-one"></div>
  <div class="button-two"></div>
  <div class="button-three"></div>

  <div class="boom-box-body"></div>

  <div class="speaker-one-outer"></div>
  <div class="speaker-one-inner"></div>

  <div class="speaker-two-outer"></div>
  <div class="speaker-two-inner"></div>

  <div class="tape-outer"></div>
  <div class="tape-wheel-one">
    <div class="tape-spoke-one"></div>
    <div class="tape-spoke-two"></div>
  </div>
  <div class="tape-wheel-two">
    <div class="tape-spoke-one"></div>
    <div class="tape-spoke-two"></div>
  </div>
</div>