<div class="stats">
    <ul>
        <li>NoiseBoxes: <span class="noise-boxes-stats-value"><%= numNoiseBoxes %></span></li>
        <li>Connected clients: <span class="clients-stats-value"><%= numClients %></span></li>
    </ul>
</div>