<form id="chat-form">
  <fieldset>
    <legend class="visuallyhidden">Chat</legend>
    <input type="text" id="chat-text" name="chat-text" value="" readonly disabled placeholder="Set a username to chat" /><!--
    --><input type="submit" value="send" disabled />
  </fieldset>
</form>