<form id="chat-form">
  <fieldset>
    <legend class="visuallyhidden">Chat</legend>
    <label id="chat-text-label" for="chat-text">Sign in to chat</label>
    <input type="text" id="chat-text" name="chat-text" value="" />
    <input type="submit" />
  </fieldset>
</form>