<div class="footer">
    <!-- <ul class="horizontal-list clearfix">
    <li class="item"><a class="popup" href="http://twitter.com/home/?status=Join my room on Noisebox: <%= userURL %>">Tweet</a></li>
    </ul>-->
    <% include ./noise-box-stats %>
</div>