<div class="stats">
    <p>
        <em><%= id %></em> stats:
        <span class="hosts-stats-value"><%= numHosts %></span> host<span class="hosts-stats-s">s</span>,
        <span class="users-stats-value"><%= numUsers %></span> user<span class="users-stats-s">s</span>
    </p>
</div>