<div class="stats">
    <ul>
        <li>Hosts: <span class="hosts-stats-value"><%= numHosts %></span></li>
        <li>Users: <span class="users-stats-value"><%= numUsers %></span></li>
    </ul>
</div>