<form id="play-mode-form">
  <label for="play-mode-broadcast" class="play-mode tab-trigger active">
    <span>Broadcast mode <i class="icon-volume-up"></i></span>
    <input type="radio" name="play-mode" id="play-mode-broadcast" class="visuallyhidden" checked="checked" value="broadcast" />
  </label>
  <label for="play-mode-preview" class="play-mode tab-trigger">
    <span>Preview mode <i class="icon-headphones"></i></span>
    <input type="radio" name="play-mode" id="play-mode-preview" class="visuallyhidden" value="preview" />
  </label>
</form>