<form id="play-mode-form">
  <h3>Play mode</h3>
  <label for="play-mode-broadcast">
    Broadcast
    <input type="radio" name="play-mode" id="play-mode-broadcast" checked="checked" value="broadcast" />
  </label>
  <label for="play-mode-preview">
    Preview
    <input type="radio" name="play-mode" id="play-mode-preview" value="preview" />
  </label>
</form>