<div class="room clearfix">
    <h2><%= id %></h2>
    <ul class="horizontal-list clearfix">
        <li class="item share-trigger"><a href="#">Share this room</a></li>
    </ul>
    <div class="share clearfix">
        <p><a href="<%= userURL %>" rel="external"><%= userURL %></a></p>
    </div>
</div>