<div class="room clearfix">
    <h2><%= id %></h2>
    <ul class="horizontal-list clearfix">
        <li class="item share-trigger"><a href="#">Share this room</a></li>
    </ul>
    <div class="share clearfix">
        <input type="text" readonly value="<%= userURL %>" />
    </div>
</div>