<form id="username-form">
  <fieldset>
    <legend class="visuallyhidden">Update your username</legend>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="<%= username %>" />

    <input type="hidden" readonly id="userid" name="userid" value="<%= userid %>" />
    <input type="hidden" readonly id="cid"    name="cid"    value="<%= cid %>" />
    <input type="hidden" readonly id="id"     name="id"     value="<%= id %>" />
    <input type="submit" />
  </fieldset>
</form>