<h1 class="ir"><%= heading %></h1>
<h2>Broadcasting noise across the internet since 1972</h2>
<p>NoiseBox allows anyone to play sound clips through another computer...</p>
<form action="/host/" method="post">
    <fieldset>
        <legend>Create a room</legend>
        <p class="legend">Create a room</p>
        <label>Use letters and numbers, no spaces<br/>e.g. frontroom</label>
        <input type="text" name="id" id="id" value="" placeholder="roomname" required="required" pattern="[a-zA-Z0-9]+" maxlength="20" />
        <input type="submit" value="Go" />
    </fieldset>
</form>