<p>Welcome to NoiseBox! Create a new NoiseBox to get started.</p>
<form action="/host/" method="post">
    <label>Name</label>
    <input type="text" name="id" id="id" value="" placeholder="e.g. ghetto-blaster" required="required" pattern="[a-zA-Z0-9]+" maxlength="20" />
    <input type="submit" value="Go" />
</form>
<% include partials/app-stats %>