<div class="header">
    <% include partials/banner %>
    <% include partials/room %>
</div>

<div class="content">
    <% include partials/currently-playing %>
    <% include partials/play-queue %>
    <% include partials/users %>
    <% include partials/log %>
</div>
<% include partials/socket-io %>
<% include partials/footer %>