<h2>Hosting "<%= id %>"</h2>
<p>Send your users to: <a href="<%= userURL %>"><%= userURL %></a></p>
<% include partials/noise-box-stats %>
<% include partials/currently-playing %>
<% include partials/play-queue %>
<% include partials/users %>
<% include partials/log %>