<h2>Viewing "<%= id %>"</h2>
<section id="file-list">
    <% files.forEach(function(dir){ %>
        <p><%= dir.name %></p>
        <ul>
        <% dir.files.forEach(function(file){ %>
            <li><a href="<%= file.path %>"><%= file.filename %></a></li>
        <% }); %>
        </ul>
    <% }); %>
</section>