/*
 * Main Noisebox styles
 */
@import "_elements.less";

@mqWidth: 600px;

/* default page styles */

  /* for vert alignment */
  html,
  body {
    width:100%;
    height:100%;
  }

  body {
    font-family:Helvetica,Arial,sans-serif;
    font-size:18px;
    line-height:24px;
  }

  input[type=text],
  input[type=submit] {
    -webkit-appearance:none;
    padding:10px;
    border-radius:5px;
    border:none;
    outline:none;
  }

  input[type=text] {
    margin-right:5px;
  }

  input[type=submit] {
    background:#fff;
  }

  @media(min-width:@mqWidth) {
    #wrapper {
      padding-top:60px;
      padding-bottom:30px;
    }
  }



/* re-usable modules/components */

  /* flash message */
    .flash-message {
        position:absolute;
        top:0;
        left:0;
        right:0;
        background-color: deeppink;
        color: white;
        padding: 10px;
    }

    .flash-message p {
        margin:0;
        font-size:0.9rem;
        line-height:1.25;
    }


  /* horizontal lists */
    .horizontal-list {
      margin:0;
      padding:0;
      list-style:none;
    }

    .horizontal-list .item {
      float:left;
    }


  /* header */
    .header {

      @media (min-width:@mqWidth) {
        position:fixed;
        top:0;
        left:0;
        right:0;
      }
    }

  /* banner */
    .banner {
      border-top:1px solid #464646;
      padding:10px 20px;
      .gradient(#000, #000, #444);

      h1 {
        margin:0;
        line-height:1;

        a {
          display:block;
          background:url(/img/logo_noisebox_banner_24.png) transparent no-repeat left top;
          width:165px;
          height:30px;
        }
      }
    }


  /* room (header share links) */
    .room {
      border:1px solid #d9d9d9;
      padding:10px 20px;
      .gradient(#e6e6e6, #e6e6e6, #fff);

      h2 {
        margin:0 1em 0 0;
        float:left;
        padding:5px 0;

        font-size:1.33rem;
        font-weight:normal;
      }

      ul {
        float:right;

        li {
          margin-right:10px;

          a,
          a:active,
          a:focus {
            display:block;
            font-size:0.88rem;
            font-weight:bold;
            text-decoration:none;
            color:#333;
            border:1px solid #ccc;
            border-radius:3px;
            padding:5px 15px;
            background-color:rgba(66,66,66,0);

            .transition(250ms);
          }

          a:hover,
          a.active {
            color:#fff;
            background-color:rgba(66,66,66,1);
          }

          @media(min-width:@mqWidth) {
            &.share-trigger a {
              display:none;
            }
          }
        }
      }

      .share {
        display:none;
        clear:both;

        @media(min-width:@mqWidth) {
          display:block;
          clear:none;
          float:right;
        }

        .share-intro {
          display:none;
          float:left;
          margin:0;
          padding:5px 10px 5px 0;

          @media(min-width:@mqWidth) {
            display:block;
          }
        }

        input[type="text"],
        input[type="submit"],
        .share-intro {
          font-size:0.8rem;
        }

        input[type="text"] {
          width:245px;
          margin-top:10px;

          @media (min-width:@mqWidth) {
            float:right;
            margin:0;
            width:260px;
            text-align:right;
          }
        }
      }
    }

    /* footer */
      .footer {
        clear:both;
        padding:10px;

        background:rgba(0,0,0,0.8);
        color:#fff;
        font-size:0.8rem;

        @media(min-width:@mqWidth) {
          position:fixed;
          bottom:0;
          left:0;
          right:0;
        }

        p {
          margin:0;
        }
      }


/* page styles */

  /* home page */
    #home {

      body& {
        background-color:#000;
        background-position:50% 50%;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;

        background-image:url(/img/bg_home_01.jpg);

        color:#fff;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      }

      #wrapper {
        display:table;
        width:100%;
        height:100%;
        padding:0;
      }

      #middle {
        display:table-cell;
        vertical-align:middle;
        width:50%;
        min-width:300px;
        text-align:center;
      }

      h1 {
        background:url(/img/logo_noisebox_large_24.png) transparent no-repeat left top;
        width:300px;
        height:50px;
        margin-bottom:0;
        display:inline-block;
      }

      form {
        background:rgba(0,0,0,0.6);
        padding:20px;
      }

      legend {
        display:none;
      }

      .legend,
      label {
        display:block;
        margin-bottom:1em;
      }

      .legend {
        margin:0 0 0.5em 0;
        font-weight:bold;
      }

      label {
        font-size:0.9rem;
      }

      input[type=text] {
        width:170px;
      }
    }


  /* host page */



  /* user page */
    /*
     * temporary user styles
     */
      section#album-list {
        float:left;
        width:20%;
      }

      section#track-list {
        float:left;
        width:40%;
      }

      section#stats {
        float:left;
        width:40%;
      }

