/*
 * Main Noisebox styles
 */
/* default page styles */
/* re-usable modules/components */
/* flash message */
.flash-message {
  background-color: deeppink;
  color: white;
  padding: 5px;
}
.flash-message p {
  margin: 0;
}
/* page styles */
/* home page */
body#home {
  background: #000;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
#home h1 {
  background: url(/img/logo_noisebox_large_24.png) transparent no-repeat left top;
  width: 320px;
  height: 53px;
}
/* host page */
/* user page */
/*
     * temporary user styles
     */
section#album-list {
  float: left;
  width: 20%;
}
section#track-list {
  float: left;
  width: 40%;
}
section#stats {
  float: left;
  width: 40%;
}
