/*
 * Main Noisebox styles
 */
@import "_elements.less";

@mqWidth: 600px;

/* default page styles */

  /* for vert alignment */
  html,
  body {
    width:100%;
    height:100%;
  }

  body {
    font-family:Helvetica,Arial,sans-serif;
    font-size:18px;
    line-height:24px;
  }

  input[type=text],
  input[type=submit] {
    -webkit-appearance:none;
    padding:10px;
    border-radius:5px;
    border:none;
    outline:none;
  }

  input[type=text] {
    margin-right:5px;
  }

  input[type=submit] {
    background:#fff;
  }


/* re-usable modules/components */

  /* flash message */
    .flash-message {
        position:absolute;
        top:0;
        left:0;
        right:0;
        background-color: deeppink;
        color: white;
        padding: 10px;
    }

    .flash-message p {
        margin:0;
        font-size:0.9rem;
        line-height:1.25;
    }


  /* horizontal lists */
    .horizontal-list {
      margin:0;
      padding:0;
      list-style:none;
    }

    .horizontal-list .item {
      float:left;
    }


  /* page containers */
    #wrapper,
    #middle {
      height:100%;
    }


  /* header bar - for user / host pages */
    .header {
      @media (min-width:@mqWidth) {
        position:fixed;
        top:0;
        left:0;
        right:0;
        min-height:100px;
        z-index:3;
      }
    }

  /* banner bar - for user / host pages */
    .banner {
      border-top:1px solid #464646;
      height:50px;
      .gradient(#000, #000, #444);

      @media (min-width:@mqWidth) {
        position:absolute;
        top:0;
        left:0;
        right:0;
      }

      h1 {
        margin:0;
        line-height:1;
        margin:10px 0 0 10px;

        a {
          display:block;
          background:url(/img/logo_noisebox_banner_24.png) transparent no-repeat left top;
          width:165px;
          height:30px;
        }
      }
    }


  /* room (header share links) - for user / host pages */
    .room {
      border:1px solid #d9d9d9;
      min-height:50px;
      .gradient(#e6e6e6, #e6e6e6, #fff);

      @media (min-width:@mqWidth) {
        position:absolute;
        top:50px;
        left:0;
        right:0;
      }

      h2 {
        margin:0.5em 0.5rem 0 0.5em;
        float:left;
        padding:0;

        font-size:1.33rem;
        font-weight:normal;
      }

      ul {
        float:left;
        margin:0.7rem 0 0 0;

        a,
        a:active,
        a:focus {
          display:block;
          font-size:0.88rem;
          line-height:1.2;
          text-decoration:none;
          color:#333;
          border:1px solid #ccc;
          border-radius:3px;
          padding:5px 10px;
          background-color:rgba(66,66,66,0);

          .transition(all, 250ms);
        }

        a:hover,
        a.active {
          color:#fff;
          background-color:rgba(66,66,66,1);
        }
      }

      .share {
        display:none;
        float:left;

        .share-intro {
          display:none;
          float:left;
          margin:0;
          padding:5px 10px 5px 0;
        }

        input[type="text"],
        input[type="submit"],
        .share-intro {
          font-size:0.8rem;
        }

        input[type="text"] {
          min-width:245px;
          margin-top:10px;
          background:transparent;
          padding:6px 10px;

          @media (min-width:@mqWidth) {
            float:left;
          }
        }
      }
    }

    /* footer - for host / user pages */
      .footer {
        clear:both;
        background:rgba(0,0,0,0.8);
        color:#fff;
        font-size:0.8rem;

        @media(min-width:@mqWidth) {
          position:fixed;
          z-index:10;
          min-height:3rem;
          bottom:0;
          left:0;
          right:0;
        }

        p {
          margin:0;
          padding:10px;
        }
      }


/* page styles */

  /* home page */
    #home {

      body& {
        background-color:#000;
        background-position:50% 50%;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;

        background-image:url(/img/bg-home/bg_home_01.jpg);

        color:#fff;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      }

      #wrapper {
        display:table;
        width:100%;
        height:100%;
        padding:0;
      }

      #middle {
        display:table-cell;
        vertical-align:middle;
        width:50%;
        min-width:300px;
        text-align:center;
      }

      h1 {
        background:url(/img/logo_noisebox_large_24.png) transparent no-repeat left top;
        width:300px;
        height:50px;
        margin-bottom:0;
        display:inline-block;
      }

      form {
        background:rgba(0,0,0,0.6);
        padding:20px;
      }

      legend {
        display:none;
      }

      .legend,
      label {
        display:block;
        margin-bottom:1em;
      }

      .legend {
        margin:0 0 0.5em 0;
        font-weight:bold;
      }

      label {
        font-size:0.9rem;
      }

      input[type=text] {
        width:170px;
      }
    }


  /* host page */



  /* user page */
    /* username form */
      #login {
        position:absolute;
        right:1rem;
        top:0.6rem;
        z-index:2;
        color:#fff;
      }

      #username-display {
        text-align:right;

        p {
          margin:0;
        }

        a {
          font-size:0.65rem;
          color:#fff;
          margin-right:5px;
        }

        i {
          margin-left:5px;
          opacity:0.6;
        }

        .default {
          opacity:0.3;
        }
      }

      #username-form {
        display:none;
        position:relative;
        background:#fff;
        color:#333;
        padding:10px;
        margin-top:10px;
        border: 4px solid #999;
        border-radius:10px;
        font-size:0.8rem;
        .drop-shadow(0, 1px, 5px, 0.3);

        label {
          display:block;
        }

        input[type="text"] {
          border:1px solid #333;
        }

        input[type="submit"] {
          background:#333;
          color:#fff;
        }
      }

      #username-form:after,
      #username-form:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      #username-form:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        left: 85%;
        margin-left: -10px;
      }
      #username-form:before {
        border-color: rgba(153, 153, 153, 0);
        border-bottom-color: #999;
        border-width: 16px;
        left: 85%;
        margin-left: -16px;
      }



    /* currently playing */
      #currently-playing {
        position:absolute;
        top:3.5rem;
        right:1rem;
        width:50%;
        overflow:hidden;
        text-align:right;

        h3 {
          display:none;
          font-size:0.7rem;
          line-height:1.2;
          margin:0;
        }

        ul {
          float:right;
          width:100000px; /* big enough to keep everything on one line */
          font-size:1rem;
        }

        li {
          float:right;
          margin-left:2rem;
          overflow:hidden;
        }

        span {
          display:inline-block;
        }

        // loop: http://blog.thehippo.de/2012/04/programming/do-a-loop-with-less-css/
        @iterations: 10;
        .loopingClass (@index) when (@index > 0) {
          (~"li:nth-child(@{index})") {
            opacity: ((11-@index)/10);
          }
          .loopingClass(@index - 1);
        }
        .loopingClass (0) {}
        .loopingClass (@iterations);
      }




    /* broadcast mode */


    /* main content area */
      .content,
      .content section,
      .content .scrollable {
        .box-sizing(border-box);
        height:100%;
      }

      .content {
        padding-top:100px; /* header height */
        padding-bottom:3rem; /* footer height */
      }

      .content section {
        border-right:1px solid #999;
        position:relative;
        overflow:hidden;
        padding-bottom:3rem; /* footer height */
      }

      .content .scrollable {
        overflow:auto;
      }

      .content h3,
      .content h4 {
        position:absolute;
        z-index:2;
        top:0;
        left:0;
        right:0;
        margin:0;
        padding:0 10px;
        height:3rem;
        line-height:3rem;
        .box-sizing(border-box);

        font-size:1.2rem;
        background:#999;
        color:#fff;
        font-size:1rem;
        text-shadow:1px 1px 1px rgba(0,0,0,0.5);
      }

      .content h4 {
        font-size:1rem;
        position:static;
        background:#bbb;
        height:2rem;
        line-height:2rem;
      }

      .content ul,
      .content li {
        list-style:none;
        margin:0;
        padding:0;
      }


    /* column - album list */
      section#album-list {
        float:left;
        width:20%;

        .scrollable {
          margin-top:3rem; /* height of the main heading */
        }


        li {

          &:nth-of-type(odd) a {
            background:#f3f3f3;
          }

          a {
            display:block;
            padding:3px 10px;
            text-decoration:none;
            font-size:0.8em;
            color:#000;
            text-shadow:0 0 0 rgba(255,255,255,0);
            .transition(background);

            &:hover {
              background:#e9e9e9;
              text-shadow:1px 1px 1px rgba(0,0,0,0.2);
            }
          }

          &.active a {
            background:#666;
            color:#fff;
          }
        }
      }


    /* column - track list */
      section#track-list {
        float:left;
        width:40%;

        .search-container {
          background:#fff;
          position:absolute;
          z-index:2;
          top:3rem;
          left:0;
          right:0;
          height:2rem;

          input {
            .box-sizing(border-box);
            height:2rem;
            padding:5px 10px;
            width:100%;
            border:0;
            font-size:1rem;
            .inner-shadow(0, 0, 0, 0);
            .transition(background);

            &:focus {
              background:#eee;
              outline:none;
              .inner-shadow(0, 0, 15px, 0.4);
            }
          }

          .search-clear {
            position:absolute;
            right:9px;
            top:9px;
            color:#333;
            cursor:pointer;
            font-size:0.8rem;
          }
        }

        /* extra wrapper needed due to sticky header fiddlyness... */
        .scrollable-container {
          position:relative;
          height:100%;
          margin-top:5rem;  /* height of the main heading + search box */
          overflow:hidden;
        }

        .scrollable {
        }

        .search-results {
          padding:0 10px;
          font-weight:bold;
        }

        .sticky h4 {
          position: absolute;
          top:0;
        }

        li {

          &:nth-of-type(odd) a {
            background:#f9f9f9;
          }

          a {
          display:block;
          padding:1px;
          text-decoration:none;
          font-size:0.65em;
          color:#000;
          text-shadow:0 0 0 rgba(255,255,255,0);
          .transition(background);

            &:hover {
              background:#e9e9e9;
              text-shadow:1px 1px 1px rgba(0,0,0,0.2);
            }

            .duration {
              display:block;
              float:right;
              padding:1px 5px;
              font-size:0.6rem;
              color:#999;
            }

            .icon {
              display:block;
              float:left;
              padding:1px;
              width:15px;
              height:12px;
              margin:5px 2px 0 0;
              color:#ccc;
              text-shadow:none;

              &.queued,
              &.playing {
                color:#4f4;
              }
            }
          }
        }
      }


    /* column - stats */
      section#stats {
        float:left;
        width:40%;

        .play-mode-container {
          position:absolute;
          z-index:2;
          top:3rem;
          left:0;
          right:0;
          height:2rem;

          #play-mode-form {
            height:100%;
          }

          .play-mode {
            float:left;
            width:50%;
            height:100%;
            background:#eee;
            text-align:center;
            cursor:pointer;
            font-size:0.8rem;
            line-height:2.5;
            i {
              margin-left:5px;
            }
          }

          .play-mode.selected {
            background:#aaa;
          }
        }

        .scrollable {
          margin-top:5rem; /* height of the main heading + play mode container */
        }

        input[type="text"] {
          border:1px solid #666;
        }

        input[type="submit"] {
          background:#666;
          color:#fff;
        }
      }