/*
 * Main Noisebox styles
 */
@import "_elements.less";

@mqWidth: 600px;

/* default page styles */

  /* for vert alignment */
  html,
  body {
    width:100%;
    height:100%;
  }

  body {
    font-family:Helvetica,Arial,sans-serif;
    font-size:18px;
    line-height:24px;
  }

  input[type=text],
  input[type=submit] {
    -webkit-appearance:none;
    padding:10px;
    border-radius:5px;
    border:none;
    outline:none;
  }

  input[type=text] {
    margin-right:5px;
  }

  input[type=submit] {
    background:#fff;
  }


/* re-usable modules/components */

  /* flash message */
    .flash-message {
        position:absolute;
        top:0;
        left:0;
        right:0;
        background-color: deeppink;
        color: white;
        padding: 10px;
    }

    .flash-message p {
        margin:0;
        font-size:0.9rem;
        line-height:1.25;
    }


  /* horizontal lists */
    .horizontal-list {
      margin:0;
      padding:0;
      list-style:none;
    }

    .horizontal-list .item {
      float:left;
    }


  /* page containers */
    #wrapper,
    #middle {
      height:100%;
    }


  /* header bar - for user / host pages */
    .header {
      @media (min-width:@mqWidth) {
        position:fixed;
        top:0;
        left:0;
        right:0;
        min-height:100px;
      }
    }

  /* banner bar - for user / host pages */
    .banner {
      border-top:1px solid #464646;
      height:50px;
      .gradient(#000, #000, #444);

      @media (min-width:@mqWidth) {
        position:absolute;
        top:0;
        left:0;
        right:0;
      }

      h1 {
        margin:0;
        line-height:1;
        margin:10px 0 0 10px;

        a {
          display:block;
          background:url(/img/logo_noisebox_banner_24.png) transparent no-repeat left top;
          width:165px;
          height:30px;
        }
      }
    }


  /* room (header share links) - for user / host pages */
    .room {
      border:1px solid #d9d9d9;
      min-height:50px;
      .gradient(#e6e6e6, #e6e6e6, #fff);

      @media (min-width:@mqWidth) {
        position:absolute;
        top:50px;
        left:0;
        right:0;
      }

      h2 {
        margin:0.5em 0 0 0.5em;
        float:left;
        padding:0;

        font-size:1.33rem;
        font-weight:normal;
      }

      ul {
        float:right;

        li {
          margin-right:10px;

          a,
          a:active,
          a:focus {
            display:block;
            font-size:0.88rem;
            font-weight:bold;
            text-decoration:none;
            color:#333;
            border:1px solid #ccc;
            border-radius:3px;
            padding:5px 15px;
            background-color:rgba(66,66,66,0);

            .transition(color, 250ms);
          }

          a:hover,
          a.active {
            color:#fff;
            background-color:rgba(66,66,66,1);
          }

          @media(min-width:@mqWidth) {
            &.share-trigger a {
              display:none;
            }
          }
        }
      }

      .share {
        display:none;
        clear:both;

        @media(min-width:@mqWidth) {
          display:block;
          clear:none;
          float:right;
        }

        .share-intro {
          display:none;
          float:left;
          margin:0;
          padding:5px 10px 5px 0;

          @media(min-width:@mqWidth) {
            display:block;
          }
        }

        input[type="text"],
        input[type="submit"],
        .share-intro {
          font-size:0.8rem;
        }

        input[type="text"] {
          width:245px;
          margin-top:10px;

          @media (min-width:@mqWidth) {
            float:right;
            margin:0;
            width:260px;
            text-align:right;
          }
        }
      }
    }

    /* footer - for host / user pages */
      .footer {
        clear:both;
        background:rgba(0,0,0,0.8);
        color:#fff;
        font-size:0.8rem;

        @media(min-width:@mqWidth) {
          position:fixed;
          z-index:10;
          min-height:3rem;
          bottom:0;
          left:0;
          right:0;
        }

        p {
          margin:0;
          padding:10px;
        }
      }


/* page styles */

  /* home page */
    #home {

      body& {
        background-color:#000;
        background-position:50% 50%;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;

        background-image:url(/img/bg-home/bg_home_01.jpg);

        color:#fff;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      }

      #wrapper {
        display:table;
        width:100%;
        height:100%;
        padding:0;
      }

      #middle {
        display:table-cell;
        vertical-align:middle;
        width:50%;
        min-width:300px;
        text-align:center;
      }

      h1 {
        background:url(/img/logo_noisebox_large_24.png) transparent no-repeat left top;
        width:300px;
        height:50px;
        margin-bottom:0;
        display:inline-block;
      }

      form {
        background:rgba(0,0,0,0.6);
        padding:20px;
      }

      legend {
        display:none;
      }

      .legend,
      label {
        display:block;
        margin-bottom:1em;
      }

      .legend {
        margin:0 0 0.5em 0;
        font-weight:bold;
      }

      label {
        font-size:0.9rem;
      }

      input[type=text] {
        width:170px;
      }
    }


  /* host page */



  /* user page */
      .content,
      .content section,
      .content .scrollable {
        .box-sizing(border-box);
        height:100%;
      }

      .content {
        padding-top:100px; /* header height */
        padding-bottom:3rem; /* footer height */
      }

      .content section {
        border-right:1px solid #999;
        position:relative;
        overflow:hidden;
        padding-bottom:3rem; /* footer height */
      }

      .content .scrollable {
        overflow:auto;
      }

      .content h3,
      .content h4 {
        position:absolute;
        z-index:2;
        top:0;
        left:0;
        right:0;
        margin:0;
        padding:0 10px;
        height:3rem;
        line-height:3rem;
        .box-sizing(border-box);

        font-size:1.2rem;
        background:#999;
        color:#fff;
        font-size:1rem;
        text-shadow:1px 1px 1px rgba(0,0,0,0.5);
      }

      .content h4 {
        font-size:1rem;
        position:static;
        background:#bbb;
        height:2rem;
        line-height:2rem;
      }

      .content ul,
      .content li {
        list-style:none;
        margin:0;
        padding:0;
      }


    /* column - album list */
      section#album-list {
        float:left;
        width:20%;

        .scrollable {
          margin-top:3rem; /* height of the main heading */
        }


        li {

          &:nth-of-type(odd) a {
            background:#f3f3f3;
          }

          a {
            display:block;
            padding:3px 10px;
            text-decoration:none;
            font-size:0.8em;
            color:#000;
            text-shadow:0 0 0 rgba(255,255,255,0);
            .transition(background);

            &:hover {
              background:#e9e9e9;
              text-shadow:1px 1px 1px rgba(0,0,0,0.2);
            }
          }

          &.active a {
            background:#666;
            color:#fff;
          }
        }
      }


    /* column - track list */
      section#track-list {
        float:left;
        width:40%;

        .search-container {
          background:#fff;
          position:absolute;
          z-index:2;
          top:3rem;
          left:0;
          right:0;
          height:2rem;

          input {
            .box-sizing(border-box);
            height:2rem;
            padding:5px 10px;
            width:100%;
            border:0;
            font-size:1rem;
            .inner-shadow(0, 0, 0, 0);
            .transition(background);

            &:focus {
              background:#eee;
              outline:none;
              .inner-shadow(0, 0, 15px, 0.4);
            }
          }

          .search-clear {
            position:absolute;
            right:9px;
            top:9px;
            color:#333;
            cursor:pointer;
            font-size:0.8rem;
          }
        }

        /* extra wrapper needed due to sticky header fiddlyness... */
        .scrollable-container {
          position:relative;
          height:100%;
          margin-top:5rem;  /* height of the main heading + search box */
          overflow:hidden;
        }

        .scrollable {
        }

        .search-results {
          padding:0 10px;
          font-weight:bold;
        }

        .sticky h4 {
          position: absolute;
          top:0;
        }

        li {

          &:nth-of-type(odd) a {
            background:#f9f9f9;
          }

          a {
          display:block;
          padding:1px;
          text-decoration:none;
          font-size:0.65em;
          color:#000;
          text-shadow:0 0 0 rgba(255,255,255,0);
          .transition(background);

            &:hover {
              background:#e9e9e9;
              text-shadow:1px 1px 1px rgba(0,0,0,0.2);
            }

            .duration {
              display:block;
              float:right;
              padding:1px 5px;
              font-size:0.6rem;
              color:#999;
            }

            .icon {
              display:block;
              float:left;
              padding:1px;
              width:15px;
              height:12px;
              margin:5px 2px 0 0;
              color:#ccc;
              text-shadow:none;

              &.queued,
              &.playing {
                color:#4f4;
              }
            }
          }
        }
      }


    /* column - stats */
      section#stats {
        float:left;
        width:40%;
      }