<h2>Start hosting a new NoiseBox</h2>
<form action="/host/" method="post">
    <label>Name</label>
    <input type="text" name="name" id="name" value="" placeholder="e.g. ghetto-blaster" required="required" pattern="[a-zA-Z0-9]+" maxlength="20" />
    <input type="submit" value="Go" />
</form>